<section class="section">
  <div class="container">
    <div class="title has-text-centered">
      <p>
        Simple todo app with basic CRUD operations
      </p>
    </div>
    <div class="columns">
      <div class="column">
        <form [formGroup]="todoForm" (ngSubmit)="createTodo(todoForm.value)">
          <div class="field is-grouped">
            <div class="control is-expanded">
              <input type="text" class="input is-medium" formControlName="todo">
              <div *ngIf="todoerro.errors && todoerro.errors.required && submitting" class="has-text-danger">
                Please enter a task description.
              </div>
            </div>
            <div class="control">
              <button class="button is-primary is-medium">
                Add
              </button>
            </div>
          </div>
        </form>
        <router-outlet></router-outlet>
      </div>
      <div class="column">
        <table class="table is-bordered is-fullwidth">
          <thead>
            <tr>
              <th>no</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let todo of allTodos">
              <th>{{todo.id}}</th>
              <td>
                <div class="field is-grouped">
                  <div class="control is-expanded">
                    <input type="text" class="input is-medium has-text-black" value="{{todo.description}}" disabled>
                  </div>
                  <div class="control">
                    <div class="buttons">
                      <button class="button is-primary is-medium" [disabled]="todo.id == newid" (click)="edit(todo.id)">
                        Edit
                      </button>
                      <button class="button is-danger is-medium" [disabled]="todo.id == newid"
                        (click)="deleteTodo(todo.id)">
                        Delete
                      </button>
                    </div>
                  </div>
                </div>
                <div *ngIf="todo.id == newid">
                  <form [formGroup]="editTodoForm" (ngSubmit)="updateTodo(editTodoForm.value)">
                    <div class="field is-grouped">
                      <div class="control is-expanded">
                        <input type="text" class="input is-medium" formControlName="editTodo">
                      </div>
                      <div class="control">
                        <div class="buttons">
                          <button type="submit" class="button is-info is-medium">
                            Save
                          </button>
                          <button type="button" class="button is-warning is-medium" (click)="cancel()">
                            Cancel
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>